<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#00adb5">

  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="favicon.jpeg" />
  <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" 
    crossorigin="anonymous" />
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

 
  <title>Rizta Restaurant</title>
</head>
<body>
  <a href="#content" class="skip-link">Go to content</a>
  <nav>
    <div class="inner-width">
      <a href="./index.html" class="brand-logo">Rizta</a>
      <button class="hamburger-button" id="hamburger-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-menu" id="navbar-menu">
        <a href="#/home">Home</a>
        <a href="#/favorite">Favorite</a>
        <a href="#/contact-us">Contact Us</a>
        <a rel="noopener" href="https://www.linkedin.com/in/nur-rizki-adi-prasetyo-2a2ba0157/" target="_blank">About Us</a>
      </div>
    </div>
  </nav>
  

  <header>
    <div class="inner-width">
      <div class="content">
        <div class="brand">
          <p>Welcome To</p>
          <h1 class="brand-logo">RIZTA</h1>
          <p>Restaurant</p>
        </div>
        <div class="navigation">
          <a href="#menus">View Menus</a>
        </div>
      </div>
    </div>
  </header>
  
  <main>
    <div class="inner-width" id="main-content" tabindex="0">
    </div>
  </main>
  
  <footer>
    <div class="inner-width">
      <div class="copyright">
        <p>Copyright&copy; 2021 | Rizta Restaurant. Created & Designed By <a href="#">Nur Rizki Adi Prasetyo</a></p>
      </div>
      <div class="sosmed">
        <a href="https://web.facebook.com/nurrizki.adiprasetyo" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com/NAdiprasetyo" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/nurrizkiadip_/" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/nur-rizki-adi-prasetyo-2a2ba0157/" class="fab fa-linkedin-in"></a>
        <a href="https://www.youtube.com/channel/UCL03ONszIr6BoSU-aee5kpA" class="fab fa-youtube"></a>
      </div>
    </div>
  </footer>

  <div id="favorited-feedback">
      <p>Restorant has been added to your favorite</p>
  </div>

</body>
</html>