@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
  font-family: "gang_of_threeregular";
  src: url("../public/fonts/go3v2-webfont.woff2") format("woff2"),
    url("../public/fonts/go3v2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #acc1c577;
}

::-webkit-scrollbar {
  width: 18px;
  background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
  background-color: #353b48;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5e6475;
}

body {
  padding-top: 60px;
}

.inner-width {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 20px;
}

.section-title {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;


  position: relative;

  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px 0;
  color: #111;
}

.section-title::before {
  content: "";
  display: inline-block;
  height: 4px;
  width: 96px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 48px);
  background-color: #111;
}

.section-title::after {
  content: "";
  height: 10px;
  width: 18px;
  position: absolute;
  background-color: #48dbfb;
  border: 3px solid #fff;
  bottom: -6px;
  left: calc(50% - 12px);
}

/** SKIP TO LINK */
.skip-link {
  position: absolute;
  text-decoration: none;
  top: 100px;
  left: -200px;
  background-color: #efefef;
  color: black;
  padding: 8px;

  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  z-index: 1000;

}

/** SKIP TO LINK */
.skip-link:focus {
  left: 20px;
}

/** Center the loader */
#loader-show {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border: 12px solid #e3e3e3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#favorited-feedback {
  background-image: linear-gradient(45deg, #434343 0%, black 100%, #434343 0%);
  position: fixed;
  left: 50%;
  border-radius: 12px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .3);
  color: azure;
  transform: translateX(-50%);
  padding: 1rem 2.5rem;
  user-select: none;

  transition: .5s ease-in-out;
}

#favorited-feedback.show {
  bottom: 5%;
}

/** NAVBAR */
nav {
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;

  box-shadow: 0 1px 2.5px black;

  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
  background-position: bottom;
  background-size: cover;
  z-index: 999;
}

nav .inner-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

nav a {
  text-decoration: none;
  color: #eee;
}

nav .brand-logo {
  margin: 0;
  font-size: 2rem;
  padding: 6px 0;
  font-family: "gang_of_threeregular", sans-serif;
}

nav .hamburger-button {
  background: none;
  width: 44px;
  height: 44px;
  outline: none;
  border: none;
  border-radius: 4px;

  position: relative;
  cursor: pointer;
  display: block;

  z-index: 1000;
}

nav .hamburger-button:focus {
  outline: 3px orange solid
}

nav .hamburger-button span {
  display: block;
  height: 5px;
  margin: 7px 0;
  background-color: white;
  transition: .4s linear;

  position: relative;
}

nav .hamburger-button.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}

nav .hamburger-button.active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 5px;
}

nav .hamburger-button.active span:nth-child(2) {
  display: none;
}

nav .navbar-menu {
  position: fixed;
  top: 0;
  right: -100%;
  min-height: 100vh;
  width: calc(100% - 100px);

  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  box-shadow: -1px 0 3px rgba(20, 20, 20, .7);

  transition: .4s ease-in-out;
}

nav .navbar-menu.active {
  right: 0;
}

nav .navbar-menu a {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

  padding: 22px 12px;
  position: relative;

  transition: .07s linear;
}

nav .navbar-menu a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  left: 0;
  bottom: -20%;
  background-color: #aaaaaa22;
}

nav .navbar-menu a:hover {
  color: #6c7580;
}

/** AKHIR NAVBAR */

/** AWAL JUMBOTRON */
header {
  min-height: calc(100vh - 60px);

  background-image: url('../public/images/hero-image_4-small.jpg');
  background-size: cover;
  background-position: 43%;
  background-repeat: no-repeat;
  box-shadow: 2px 0 6px rgba(0, 0, 0, .7);
}

header .content .brand {
  color: azure;
  display: block;
  margin-top: 27vh;

  text-align: center;
}

header .content .brand p:first-child {
  font-family: 'Raleway', sans-serif;
  margin: 5px 0;
  font-size: 2rem;
  font-weight: 500;
}

header .content .brand p:last-child {
  font-family: 'gang_of_threeregular', sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

header .content .brand-logo {
  font-family: 'gang_of_threeregular', sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px 0px rgba(150, 150, 150, .5);
  color: azure;

  display: block;
}

header .navigation {
  font-size: 1.1rem;
  font-family: 'Nunito', sans-serif;

  margin-top: 40px;
  display: flex;
  justify-content: center;

  position: relative;
}

header .navigation a {
  text-decoration: none;
  color: azure;
  border-radius: 4px;

  display: inline-block;
  padding: 12px 24px;
  background-color: #00adb5;

  transition: .15s linear;
}

header .navigation a:hover {
  background-color: #007980;
}

header .navigation::after {
  content: "˅";
  position: absolute;
  color: azure;
  font-weight: 900;
  font-size: 1.5rem;
  top: 150%;
  animation: floating 2s infinite ease-in-out;
}

@keyframes floating {
  50% {
    transform: translateY(-20px);
  }
}

/** AKHIR JUMBOTRON */


/** AWAL MAIN */
#main-content {
  padding-top: 70px;
  min-height: 80vh;
  position: relative;
}

main .content .card-heros {
  font-family: "Nunito", sans-serif;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px 36px;
}

main .content .card-heros .card {
  border-radius: 4px;
  list-style: none;

  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
  cursor: pointer;

  transition: .15s ease-in-out;
}

main .content .card-heros .card:hover {
  transform: scale(1.015);
  filter: brightness(1.025);
}

main .content .card-heros .card-avatar {
  border-radius: 4px 4px 0 0;
  max-height: 230px;
  overflow: hidden;
  position: relative;
}

main .content .card-heros .caption-img {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 12px;
  font-size: .85rem;
  color: #ffffffdd;

  border-top-right-radius: 4px;

  user-select: none;
  z-index: 1;
}

main .content .card-heros .caption-img .rating,
main .content .card-heros .caption-img .city {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 12px;
  border-top-right-radius: 4px;
  background-color: #333333bb;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .content .card-heros .caption-img .rating {
  transform: translateY(-99.9%);
}

main .content .card-heros .caption-img .rating i {
  margin-left: 1.5px;
}

main .content .card-heros .caption-img .rating i,
main .content .card-heros .caption-img .city i {
  margin-right: 8px;
}

main .content .card-heros .caption-img .city {
  padding-right: 16px;
  padding-left: 16px;
}


main .content .card-heros .card-image {
  border-radius: 4px 4px 0 0;
  display: block;
  width: 100%;

  transition: .3s ease-in-out;
}

main .content .card-heros .card-image:hover {
  transform: scale(1.1);
}

main .content .card-heros .card-body {
  padding: 12px 20px 24px;
}

main .content .card-heros .card-body .id {
  font-size: .65rem;
  font-weight: 100;
  color: #333333aa;
}

main .content .card-heros .card-body .name a {
  font-size: 1.35rem;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 0 6px;
  display: inline-block;

  color: black;
  transition: .15s linear;
}

main .content .card-heros .card-body .name a:hover {
  color: #00000077;
  text-decoration: underline;
}

main .content .card-heros .card-body .description {
  font-size: 1rem;
  font-weight: 400;

  user-select: none;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

main .content .detail-container {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

main .content .restaurant-name {
  font-size: calc(4vh - 1vw);
  text-align: center;
  margin-bottom: 1rem;
}

main .content img {
  display: block;
  width: 100%;
  line-height: 0;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
}

main .detail-container .restaurant-info,
main .detail-container .restaurant-menus,
main .detail-container .restaurant-reviews {
  max-width: 90%;
  margin: 2rem auto .5rem;

}

main .detail-container .restaurant-info {
  display: flex;
  flex-direction: column;
}

main .detail-container .restaurant-info>* {
  margin-bottom: .5rem;
}

main .detail-container .restaurant-info h3 {
  font-size: 1.5rem;
  font-weight: 900;
}

main .detail-container .restaurant-sub-info {
  flex: 1;
}

main .detail-container .restaurant-desc {
  flex: 2;
}

main .detail-container .restaurant-menus .menu-container {
  display: flex;
}

main .detail-container .restaurant-menus .menu-container>* {
  margin-left: 1.5rem;
  flex: 1;
}

main .detail-container .restaurant-reviews .reviewer-container {
  list-style: none;
  display: grid;
  margin-bottom: 2rem;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px 25px;
}

main .detail-container .restaurant-reviews .reviewer-container>* {
  border-radius: 6px;
  padding: .5rem 1rem;
  border: 1px solid #555;
}

main .detail-container .restaurant-reviews .reviewer-container .name {
  margin: 0;
}

main .detail-container .restaurant-reviews .reviewer-container .date {
  font-size: .8rem;
  color: #555;
}

main .detail-container .restaurant-reviews .reviewer-input {
  display: flex;
  align-items: center;
}

main .detail-container .restaurant-reviews .reviewer-input svg:first-child {
  display: none;
  flex: 1;
}

main .detail-container .restaurant-reviews .reviewer-input form:last-child {
  flex: 2;
  margin-left: 0;
}

main .detail-container .restaurant-reviews .reviewer-input .name-input,
main .detail-container .restaurant-reviews .reviewer-input .review-input {
  width: 100%;
  padding: .7rem .4rem;
  outline: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

main .detail-container .restaurant-reviews .reviewer-input .review-input {
  min-height: 7rem;
  resize: none;
}

main .detail-container .restaurant-reviews .reviewer-input .review-submit-btn {
  padding: 1rem 1.7rem;
  font-size: 1.1rem;
  border-radius: 4px;
  color: white;
  background-color: #00adb5;
  outline: none;
  border: none;
  cursor: pointer;
  border: 1.5px solid #fff;

  transition: .2s ease-in-out;
}

main .detail-container .restaurant-reviews .reviewer-input .review-submit-btn:hover {
  background-color: #eee;
  color: #333;
  border-color: #00494d;
}

main .detail-container .restaurant-reviews .reviewer-input .review-submit-btn:focus {
  outline: 3px orange solid;
}

main #favorite-btn-container #favorite-btn {
  position: fixed;
  bottom: 3rem;
  right: 17.5%;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: .1s ease-in-out;
}

main #favorite-btn-container #favorite-btn,
main #favorite-btn-container #favorite-btn i {
  font-size: 1.3rem;
  cursor: pointer;
}

main #favorite-btn:hover {
  background-color: #990000 !important;

}

main .contactus-container label {
  display: block;
  margin-bottom: .25rem;
  font-family: 'Nunito', sans-serif;
}

main .contactus-container input,
main .contactus-container textarea {
  padding: .5rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  border-radius: 4px;

  resize: vertical;
}

main .contactus-container textarea {
  min-height: 20vh;
}

main .contactus-container button {
  padding: 10px 32px;
  font-size: 1.15rem;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  color: azure;
  background-color: #065357;
  outline: none;
}

main .contactus-container button:hover {
  background-color: #e9f6f7;
  color: #065357;
  font-weight: 700;
}


main .contactus-container .form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 6px 12px;
}

main .contactus-container .form-group {
  margin: 0 0 1rem;
}

/** AKHIR MAIN */

/** FOOTER */
footer {
  min-height: 25vh;
  background-image: url("../public/images/hero-image_3-small.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: azure;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: .9rem;
  padding: 4vh 0;
  margin-top: 30px;

  box-shadow: -2px 0 6px rgba(0, 0, 0, .7);
}

footer .inner-width {

  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .copyright p {
  text-align: center;
  font-size: 1.1rem;
}

footer .copyright a {
  text-decoration: none;
  padding: 12px 0;
  color: #00bfc9;
}

footer .copyright a:hover {
  text-decoration: underline;
  color: #00838a;
}

footer .sosmed {
  margin-top: 20px;

  font-size: 1.3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

footer .sosmed a {
  text-decoration: none;
  color: #87cac4;
  margin: 0 5px;
  text-shadow: 1px 1px 1px white;
  padding: 12px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 1px 2px 2px black;

  transition: .08s linear;
}

footer .sosmed a:first-child {
  padding: 12px 16px;
}

footer .sosmed a:nth-child(3),
footer .sosmed a:nth-child(4) {
  padding: 12px 13px;
}

footer .sosmed a:hover {
  color: #6c9e98;
}

/** AKHIR FOOTER */