@media screen and (min-width: 320px) {
  .section-title {
    font-size: 26px;
  }

  header .content .brand-logo {
    font-size: 4rem;
  }

  header .content .brand p:first-child {
    font-size: 2rem;
  }

  header .content .brand p:last-child {
    font-size: 3rem;
  }

  main .content .card-heros {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
  }


  main .content .card-heros .card-body .id {
    font-size: 3vw;
  }

  main .content .card-heros .card-body .name a {
    font-size: 5.5vw;
  }

  footer .sosmed a {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 489px) {
  main .content .card-heros .card-body .id {
    font-size: 1.75vw;
  }

  main .content .card-heros .card-body .name a {
    font-size: 3.5vw;
  }

  footer .sosmed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

}

/* TABLET */
@media screen and (min-width: 768px) {

  .inner-width {
    margin: 0 auto;
    padding: 10px 20px;
  }

  /** AWAL NAV */
  nav .brand-logo {
    margin: 0 36px;
  }

  nav .navbar-menu {
    width: calc(100% - 100px);
  }

  /** AKHIR NAV */

  header .content .brand p:last-child {
    font-size: 3rem;
  }

  header .navigation a {
    padding: 12px 18px;
  }

  /** MAIN */
  main .content .card-heros {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  main .content .card-heros .card-body .id {
    font-size: 1rem;
  }

  main .content .card-heros .card-body .name a {
    font-size: 1.35rem;
  }

  main .content .card-heros .card-body {
    padding: 12px 20px 24px;
  }

  main .content .restaurant-name {
    font-size: calc(3vw - 1.25vh);
  }

  main .detail-container .restaurant-reviews .reviewer-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  main .contactus-container {
    margin: auto;
    width: 85%;
  }

  /** AKHIR MAIN */

  /** AWAL FOOTER */
  footer {
    min-height: calc(25vw - 5vw);
    padding: 5vh 0;
  }

  footer .copyright {
    font-size: 1.3rem;
    margin-bottom: 16px;

  }

  footer .sosmed a {
    font-size: 1.7rem;
    margin: 0 16px;
  }

  /** AKHIR FOOTER */
}


/* Laptop 1024px */
@media screen and (min-width: 1024px) {

  /** NAVBAR */
  nav .hamburger-button {
    display: none;
  }

  nav .navbar-menu {
    min-height: auto;
    width: auto;
    position: static;
    display: block;
    padding: 0;
    margin: 0;

    background: none;
    box-shadow: none;
  }

  nav .navbar-menu a {
    display: inline-block;
    font-family: 'Kaushan Script', cursive;
    padding: 8px 36px;
  }

  nav .navbar-menu a:hover {
    background-color: #eeeeee33;
  }

  nav .navbar-menu a::after {
    display: none;
  }

  header {
    background-image: url('../public/images/hero-image_4-large.jpg');
  }

  main .like {
    right: 3rem;
    bottom: 2rem;
  }

  main .detail-container .restaurant-info {
    flex-direction: row;
  }

  main .detail-container .restaurant-reviews .reviewer-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  main .detail-container .restaurant-reviews .reviewer-input svg:first-child {
    display: block;
  }

  main .detail-container .restaurant-reviews .reviewer-input form:last-child {
    margin-left: 3rem;
  }

  main .contactus-container {
    margin: auto;
    width: 75%;
  }

  footer {
    background-image: url('../public/images/hero-image_3-large.jpg');
  }
}

/* Screen 4K */
@media screen and (min-width: 2560px) {

  /** AWAL FOOTER */
  footer {
    padding: 5vw 0;
  }

  footer .copyright {
    font-size: 1.8rem;
  }

  footer .sosmed a {
    font-size: 2rem;

  }

  /** AKHIR FOOTER */
}